/*
    Author: Pargat Singh
    Date: 19 November, 2024
    File Name: about.css
*/

/* Mobile Viewport */
.mobile {
    display: block;
}

.tablet,
.desktop {
    display: none;
}

/* Tablet Viewport */
@media only screen and (min-width: 600px) {
    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }
}

/* Desktop Viewport */
@media only screen and (min-width: 992px) {
    .tablet {
        display: none;
    }

    .desktop {
        display: block;
    }
}